allure-behave==2.9.45
assertpy==1.1
behave==1.2.6
selenium==3.141.0
webdriver-manager==3.5.2
prospector==1.5.1
isort==5.9.2
astroid==2.9.0
black==21.11b1
bandit==1.7.1
mypy==0.910
pyroma==3.2
pylint==2.12.1
pylint-behave==1.0.1
pyvirtualdisplay==2.2
pillow==8.4.0
